/*Header kısmı*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: sticky; /* Scroll sırasında sabit durmasını sağlar */
    top: 0; /* Sayfanın üstüne yapışmasını sağlar */
    z-index: 1000; /* Header'ı diğer içeriklerin üstüne çıkarır */
    display: flex;
    justify-content: space-between;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 20px 30px;
    background-image: url(logo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right;
    transition: background-color 0.3s ease; /* Geçiş efekti */
}

nav {
    width: 100%; /* Mobilde tüm genişliği kapsar */
    height: auto;
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    display: inline-block;
    width: calc(100%);
    text-align: right;
}

nav ul {
    list-style-type: none;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    text-align: right;
    display: flex;
}

nav ul li {
    text-align: center;
    display: flex;
    margin: 10px 25px;
    font-family: "Amatic SC", sans-serif

}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.logo:hover {
    color: wheat;
    transition: 1s;
}

.logo::selection {
    background-color: red;
    color: cornsilk;
}

nav ul li a {
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-size: 23;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    background-color: #795548;
    color: black;
    opacity: 0.7;
    transition: 1s;
    border-radius: 25px;

}

nav ul li a::selection {
    background-color: rgba(255, 196, 0, 0.291);
    color: cornsilk;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transform: translate(+300%, +30%);
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Headerin aldındaki resim */
#section-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(disaridan.png);
    background-position: top;
    padding: 12px;
    height: 900px;
    width: 900px;
    background-size: cover;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    animation: slider 15s infinite; /* 15 saniyede bir kayar */
    }
    @keyframes slider {
        0% {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(1.png);
        }
        50% {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(yeninesilkahve.png);
        }
        100% {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(metehocadir.jpg);
        }

}

/*card*/
#section-2 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('iceri2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900%;
    color: white;
    padding: 20px;
    flex-wrap: wrap; /* Mobilde kartların üst üste gelmesi için */

}
#section-3 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-position: top;
    padding: 12px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('iceri2.png');
    background-size: cover;
    color: white;
    padding: auto;
    flex-wrap: wrap; /* Mobilde kartların üst üste gelmesi için */

}

.card {
    text-align: center;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    width: 90%;
    max-width: 300px; /* Masaüstünde sabit genişlik */
    margin: 10px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}
.maps{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
    height: auto;
    border: 6px solid black;
    max-width: 100%;  /* Kapsayıcıyı ekran genişliğine göre ayarlamak */
}

.card:hover {
    opacity: 0.7;
}

.container {
    text-align: center;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    padding: 5px 20px;
}

.container p {
    text-align: center;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    margin: 15px 0;
}

img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

p {
    text-align: center;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    font-size: 19px;
    text-align: center;
}

p::selection {
    background-color: #795548;
    color: cornsilk;
}

footer {
    text-align: center;
    width: 100%; /* Mobilde tüm genişliği kapsar */
    max-width: auto; /* Masaüstü için genişlik sınırlanır */
    background-color: rgb(0, 0, 0);
    color: rgb(184, 184, 184);
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
}

form {
    text-align: center;
}

#iletisimtablosu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('yeninesilkahve.png');
    color: white;
    font-size: 20px;
    text-align: center;

}

h2 {
    text-align: center;
}
h1::selection{
    background-color: rgba(255, 196, 0, 0.291);
    color: cornsilk;
}

h3 {
    background-color: #5d4037;
    color: rgb(205, 204, 204);
    text-align: center;
    border-radius: 18px;
}

h4::selection {
    background-color: rgba(255, 196, 0, 0.291);
    color: cornsilk;
}

h3::selection {
    background-color: rgba(255, 196, 0, 0.291);
    color: cornsilk;
}

h2::selection {
    background-color: rgba(255, 196, 0, 0.291);
    color: cornsilk;
}

#menufoto {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scrollToBottom {
    transform: translate(+450%, +1600%);
    padding: 10px 20px;
    background-color: #795548;
    color: white;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
#scrollToBottom:hover {
    background-color: #734332;

}

#mesajalani {
    background-color: rgb(114, 56, 29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}

button {
    background-color: white;
    font-size: 25px;
    border: 40px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#fileInput {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu {
  display: none;
}
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 80px;
        right: 150px;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
    
    @media (max-width: 768px) {  
        .navbar-menu {  
            display: none; /* Başlangıçta gizle */  
            flex-direction: column;  
            position: absolute;  
            top: 60px; /* Navbar yüksekliği */  
            background-color: white;  
            width: 100%;  
            left: 100;  
            z-index: 1;  
        }  
    
        .navbar-toggle {  
            display: flex; /* Hamburger simgesini göster */  
        }  
    
        .navbar-menu.active {  
            display: flex; /* Menü aktif olduğunda görüntüle */  
        }  
    }
    .kaydirmali{
        color: rgb(145, 145, 145);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 11px;
        text-align: center;
    }

